# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: One Thousand and One Nights
site_url: https://wjkuser.github.io
site_author: JK Wang

theme:
  name: material
  features:
    - navigation.tabs #上方导航卡
    - navigation.sections #侧方导航目录
    - navigation.tracking
    - navigation.indexes
    - toc.follow #Anchor following
    - navigation.top #Back-to-top button
    - search.suggest #search suggest
    - search.share #search share
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode


plugins:
  - search
  - blog

nav:
  - Welcome: index.md
  - BLOG: blog
  - Course:
    - course/index.md
    - Computer Organization:
        - course/Computer Organization/index.md
        - P1 课上 - Verilog 小知识: course/Computer Organization/P1_exam.md
        - P3 课下 - Logisim 单周期 CPU: course/Computer Organization/P3_exercise.md
        - P4 课下 - Verilog 单周期 CPU: course/Computer Organization/P4_exercise.md
        - P5 课下 - 简单流水线 CPU: course/Computer Organization/P5_exercise.md
    - JAVA:
        - course/JAVA/index.md
        - Unit 1 - 多项式处理:
            - course/JAVA/Unit 1/index.md
            - week 1:
                - 题目描述: course/JAVA/Unit 1/week1/problem.md
                - 架构设计: course/JAVA/Unit 1/week1/architecture.md
            - week 2:
                - 题目描述: course/JAVA/Unit 1/week2/problem.md
#                - Bug修复: course/JAVA/Unit 1/week2/debugs.md
            - week 3:
                - 题目描述: course/JAVA/Unit 1/week3/problem.md
#                - Bug分析: course/JAVA/Unit 1/week3/bugs.md
    - CompilerTechnology:
        - course/CompilerTechnology/index.md
  - Skills:
      - Skills/index.md
      - MarkDown:
          - Skills/MarkDown/index.md
  - Essay:
      - Essay/index.md
      - Essay/myfirst.md

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js